* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: calc((10 / 16) * 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #a9a9a9;
    background-color: #f5d04e;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 50%;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 6px 7px 5px #000000;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 1.1rem;
}

h3 {
    font-weight: 700;
    color: #1b1b1b;
}

p {
    color: #5d5a5a;
    margin-bottom: 1.1rem;
}

.header-image {
    border-radius: 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.header-text {
    display: inline-block;
    margin-bottom: 1.2rem;
    background-color: #f7ce52;
    color: #1b1b1b;
    font-weight: bolder;
    padding: 0.5rem 1.0rem;
    border-radius: 5px;
}

.image-person {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.person-image {
    max-width: 30px;
    width: 100%;
    margin-right: 1rem;
}